<p>playground works!</p>

<div *ngIf="tileEditing">Editor: {{tileEditing | json}}
  <label for="type">Wähle die Bepflanzung:</label>
  <select id="type" [(ngModel)]="tileEditing.type" name="type" placeholder="Whoot">
    <option *ngFor="let type of tileTypes" [ngValue]="type">{{type}}</option>
  </select>
</div>


<h2>My Farm</h2>
<div class="tiles">
    <div class="tiles-row" *ngFor="let rowItems of tiles" >
        <div class="tile type-{{tile.type}}" *ngFor="let tile of rowItems" (click)="chooseType(tile)" >
            <span class="type">{{tile.type}}</span>
        </div>
        <br/>
    </div>
</div>
